html {
	color: lightgrey;
	background-color: #696969;
	font: normal 9px
}
ul,
ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1,
h2,
h3,
p,
form {
	margin: 0;
	padding: 0;
}
.clear {
	clear: both;
}
img {
	border: none;
}


#contenedor {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
}
#cabecera,
#menu,
#lateral,
#contenido,
#contenido #principal,
#contenido #secundario,
#pie {} #cabecera {
	clear: both;
}
#menu {
	clear: both;
}
#lateral {
	display: -ms-grid;
	display: grid;
	float: left;
	margin-left: -10%;
	width: 30%;
}
#contenido {
	float: right;
	width: 78%;
}
#contenido #principal {
	float: left;
	width: 78%;
}
#contenido #secundario {
	float: right;
	width: 20%;
}
#pie {
	font: normal 9px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	clear: both;
}


#cabecera #logo {
	float: left;
}
#imglogoungo {
	opacity: 0;
	width: 28%;
	height: 15%;
	margin-left: -80%;
	z-index: 1;
	opacity: 100;
}
#imglogo {
	opacity: 0;
	width: 30%;
	height: 30%;
	float: left;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: 2;
	-webkit-transition: 2.5s;
	-o-transition: 2.5s;
	transition: 2.5s;
}
#imglogo:hover {
	opacity: 100;
	background: url("ungoloz.png");
	-ms-transform: rotate(720deg);
	-webkit-transform: rotate(720deg);
	transform: rotate(720deg);
}
#header {
	margin-top: 10%;
	margin-left: 5%;
	float: left;
}
#cabecera #buscador {
	float: right;
}


#menu #menu_principal {
	display: inline;
	float: left;
}

a:link {
	color: lightblue;
}
a:visited {
	color: rgb(105, 44, 202);
}
a:hover {
	color: red;
}
a:active {
	color: yellow;
}


#menu {
	margin-left: -10%;
}




#contenido #principal .articulo img {
	width: 100px;
	float: left;
}


#pie .enlaces {
	float: left;
}
#pie .copyright {
	float: right;
}


#cabecera,
#menu,
#lateral,
#lateral #noticias,
#noticiasmovil #lateral #publicidad01,
#publimovil #contenido,
#contenido #principal,
#contenido #secundario,
#pie {
	padding: .5em;
}
#publicidad02 {
	padding: .5em;
}
#lateral {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 0;
	display: -ms-grid;
	display: grid;
}
#cabecera {
	padding: 1em;
	background-image: -o-linear-gradient(black, grey);
	background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(grey));
	background-image: linear-gradient(black, grey);
	display: -ms-grid;
	display: grid;
	margin-left: -10%;
}
#menu {
	margin-bottom: .5em;
	border-bottom: 1px solid white;
}
#contenido {
	width: 77%;
	padding: 0;
}
#contenido #principal {
	width: 73%;
	display: -ms-grid;
	display: grid;
}
#pie {
	padding: .5em 0;
	margin-top: 1em;
	border-top: 1px solid #C5C5C5;
	border-bottom: 1px solid #C5C5C5
}
#contenido #principal .articulo {
	margin-bottom: 1em;
	display: -ms-grid;
	display: grid;
	text-align: center;
}
#img2 {
	margin-left: 5%
}
#contenido #principal .articulo img {
	margin: .5em;
}
#lateral #publicidad01 #publimovil #noticiasmovil {
	margin-top: 1em;
}
#publicidad02 {
	margin-top: 1em;
}
#publimovil {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	float: right;
	width: 20%;
}
#lateralmovil {
	display: none;
}
#imgpublimovil {
	margin-left: 5%;
	margin-top: 5%;
	width: 180px;
	height: 150px;
	-o-object-fit: cover;
	object-fit: cover;
	display: none;
}
#noticias {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	border: 1px solid #C5C5C5;
	text-align: center;
	display: -ms-grid;
	display: grid;
}
#publicidad01 {
	text-align: center;
	margin-left: -5%;
	display: -ms-grid;
	display: grid;
}
#publicidad02 {
	text-align: center;
	margin-left: -5%;
	display: -ms-grid;
	display: grid;
}
#imgpubli01 {
	width: 260px;
	height: 200px;
	-o-object-fit: cover;
	object-fit: cover;
}
#imgpubli02 {
	width: 260px;
	height: 200px;
	-o-object-fit: cover;
	object-fit: cover;
}
#imgapli01 {
	width: 120px;
	height: 120px;
	-o-object-fit: cover;
	object-fit: cover;
}
#imgapli02 {
	width: 120px;
	height: 120px;
	-o-object-fit: cover;
	object-fit: cover;
}
#imgapli03 {
	width: 120px;
	height: 120px;
	-o-object-fit: cover;
	object-fit: cover;
}
#principal {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
}
#secundario {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	border: 1px solid #ccc;
	text-align: left;
}
#buscador {
	margin-bottom: 5%;
	margin-left: 70%;
}
.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}
#select {
	text-align: center;
}
#select:hover {
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
}
.flex-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	background-color: #696969;
	display: -ms-grid;
	display: grid;
}
.flex-container > div {
	background-color: #696969;
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
}
input[type=text],
input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


button {
	background-color: rgb(21, 108, 138);
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}
button:hover {
	opacity: 0.8;
}
.buttonindex {
	display: inline-block;
	-webkit-transform: translateY(-25px);
	-ms-transform: translateY(-25px);
	transform: translateY(-25px);
}
.buttons {
	text-align: center;
}


.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}


img.avatar {
	width: 40%;
	border-radius: 50%;
}
.container {
	color: black;
	background-color: lightgrey;
	font: normal 9px;
	
	padding: 16px;
}
.containerregister {
	color: black;
	background-color: lightgrey;
	font: normal 9px;
	
	padding: 16px;
}
#creacuenta {
	text-align: center;
	font-size: 75px;
}
.inputlogin {
	color: black;
	background-color: lightgrey;
}
.inputregister {
	color: black;
	background-color: lightgrey;
}
#selectregister01 {
	display: block;
	margin: 0 auto;
}
#selectregister02 {
	display: block;
	margin: 0 auto;
}
span.psw {
	float: right;
	padding-top: 16px;
}


.modal {
	color: lightgrey;
	background-color: #696969;
	font: normal 9px;
	
	position: fixed;
	
	z-index: 1;
	
	left: 0;
	top: 0;
	width: 100%;
	
	height: 100%;
	
	overflow: auto;
	
	background-color: rgb(0, 0, 0);
	
	background-color: rgba(0, 0, 0, 0.4);
	
	padding-top: 60px;
}

#id02 {
	height: 100%;
	margin: 0;
	background-image: url("tiamat.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#id03 {
	height: 100%;
	margin: 0;
	background-image: url("pj.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-image: url("dices.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
}
.tiamat {
	background-image: url("tiamat.jpg");
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#loginsesion {
	text-align: center;
	margin-left: 9%;
}
#registersesion {
	text-align: center;
}
fieldset {
	text-align: center;
}
.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	
	border: 1px solid #888;
	width: 80%;
	
}


.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: red;
	cursor: pointer;
}
@-webkit-keyframes spinner {
	from {
		-webkit-transform: rotateY(0deg);
	}
	to {
		-webkit-transform: rotateY(-360deg);
	}
}


@keyframes spinner {
	from {
		-ms-transform: rotateY(0deg);
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	to {
		-ms-transform: rotateY(-360deg);
		-webkit-transform: rotateY(-360deg);
		transform: rotateY(-360deg);
	}
}
#stagegiratorio {
	background: rgba(0, 0, 0, 0.5);
}
#giratorio {
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	color: #fff;
}
#stagegiratorio:hover {
	margin: 1em auto;
	-webkit-perspective: 1200px;
	-ms-perspective: 1200px;
	perspective: 1200px;
}
#giratorio {
	-webkit-animation-name: spinner;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 6s;
	animation-name: spinner;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 6s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#giratorio:hover {
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}


.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
	from {
		-webkit-transform: scale(0)
	}
	to {
		-webkit-transform: scale(1)
	}
}
@keyframes animatezoom {
	from {
		-webkit-transform: scale(0);
		transform: scale(0)
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}


@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}
@-webkit-keyframes spincube {
	from, to {
		width: 180px;
		height: 150px;
		text-align: center;
		-webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		-ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
	16% {
		-webkit-transform: rotateY(-90deg);
		-ms-transform: rotateY(-90deg);
		transform: rotateY(-90deg);
	}
	33% {
		-webkit-transform: rotateY(-90deg) rotateZ(90deg);
		-ms-transform: rotateY(-90deg) rotateZ(90deg);
		transform: rotateY(-90deg) rotateZ(90deg);
	}
	50% {
		-webkit-transform: rotateY(-180deg) rotateZ(90deg);
		-ms-transform: rotateY(-180deg) rotateZ(90deg);
		transform: rotateY(-180deg) rotateZ(90deg);
	}
	66% {
		-webkit-transform: rotateY(-270deg) rotateX(90deg);
		-ms-transform: rotateY(-270deg) rotateX(90deg);
		transform: rotateY(-270deg) rotateX(90deg);
	}
	83% {
		-webkit-transform: rotateX(90deg);
		-ms-transform: rotateX(90deg);
		transform: rotateX(90deg);
	}
}
@keyframes spincube {
	from, to {
		width: 180px;
		height: 150px;
		text-align: center;
		-webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		-ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
	16% {
		-webkit-transform: rotateY(-90deg);
		-ms-transform: rotateY(-90deg);
		transform: rotateY(-90deg);
	}
	33% {
		-webkit-transform: rotateY(-90deg) rotateZ(90deg);
		-ms-transform: rotateY(-90deg) rotateZ(90deg);
		transform: rotateY(-90deg) rotateZ(90deg);
	}
	50% {
		-webkit-transform: rotateY(-180deg) rotateZ(90deg);
		-ms-transform: rotateY(-180deg) rotateZ(90deg);
		transform: rotateY(-180deg) rotateZ(90deg);
	}
	66% {
		-webkit-transform: rotateY(-270deg) rotateX(90deg);
		-ms-transform: rotateY(-270deg) rotateX(90deg);
		transform: rotateY(-270deg) rotateX(90deg);
	}
	83% {
		-webkit-transform: rotateX(90deg);
		-ms-transform: rotateX(90deg);
		transform: rotateX(90deg);
	}
}
.cubespinner {
	-webkit-animation-name: spincube;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 12s;
	animation-name: spincube;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 12s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 30px 30px 0;
	-ms-transform-origin: 30px 30px 0;
	transform-origin: 30px 30px 0
}
.cubespinner div {
	position: absolute;
	width: 60px;
	height: 60px;
	color: black;
	margin-left: 20%;
	margin-top: 30%;
	border: 1px solid #ccc;
	background: rgba(255, 255, 255, .8);
	-webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, .2);
	box-shadow: inset 0 0 20px rgba(0, 0, 0, .2);
	text-align: center;
	font-size: 40px
}
.cubespinner .face1 {
	-webkit-transform: translateZ(30px);
	-ms-transform: translateZ(30px);
	transform: translateZ(30px)
}
.cubespinner .face2 {
	-webkit-transform: rotateY(90deg) translateZ(30px);
	-ms-transform: rotateY(90deg) translateZ(30px);
	transform: rotateY(90deg) translateZ(30px)
}
.cubespinner .face3 {
	-webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(30px);
	-ms-transform: rotateY(90deg) rotateX(90deg) translateZ(30px);
	transform: rotateY(90deg) rotateX(90deg) translateZ(30px)
}
.cubespinner .face4 {
	-webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(30px);
	-ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(30px);
	transform: rotateY(180deg) rotateZ(90deg) translateZ(30px)
}
.cubespinner .face5 {
	-webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(30px);
	-ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(30px);
	transform: rotateY(-90deg) rotateZ(90deg) translateZ(30px)
}
.cubespinner .face6 {
	-webkit-transform: rotateX(-90deg) translateZ(30px);
	-ms-transform: rotateX(-90deg) translateZ(30px);
	transform: rotateX(-90deg) translateZ(30px)
}
@media screen and (max-width: 800px) {
	* {
		-webkit-box-flex: 100%;
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}
	body {
		width: 10000px;
	}
	#imglogoungo {
		opacity: 0;
		width: 30%;
		height: 30%;
		float: left;
		-o-object-fit: cover;
		object-fit: cover;
		z-index: 2;
		-webkit-transition: 2.5s;
		-o-transition: 2.5s;
		transition: 2.5s;
	}
	#contenido #principal {
		width: 60%;
		margin-left: -30%;
	}
	#secundario {
			margin: auto;
			-webkit-transform: translateX(20px);
			-ms-transform: translateX(20px);
			transform: translateX(20px);
		
	}
	.articulo {
		font-size: 35px;
		width: 500px;
	}
	#trastornos {
		margin-right: 40%;
	}
	#conjuros {
		width:200px;
		margin-left: 15%;
	}
	
	#nomovil {
		margin-top: 10%;
		font-size: 35px;
		width: 300px;
	}
	#movil01 {
		font-size: 35px;
		width: 300px;
	}
	#movil02 {
		font-size: 35px;
		width: 300px;
	}
	#noticias {
		display: none;
	}
	#imgpubli01 {
		display: none;
	}
	#imgpubli02 {
		display: none;
	}
	#imgpublimovil {
		display: inline;
		margin-left: 15%;
	}
	#noticiasmovil {
		
		display: inline;
	}
	#lateralmovil {
		display: inline;
		font-size: 35px;
		margin-left: 10%;
	
	}
	#publimovil {
		margin-top: 30%;
	}
	#subti {
		margin-bottom: 20%;
	}
	#imglogo {
		display: none;
	}
	.container {
		position: relative;
		
		padding: 0;
		margin: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.containerregister {
		position: fixed;
		padding: 0;
		margin: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	body {
		position: relative;
	}
}